.product-space{
  padding: 100px 0;
}
.main-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}
.content{
  padding-left: 15px;
}
.content p{
  font-size: 17px;
  padding: 12px 8px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.main-img img{
  width: 250px;
  height: 190px;
}
.content h4{
  font-size: 22px;
  text-transform: capitalize;
  

}
.content h6{
  color: red;
  font-size: 2rem;
}
.filterItems{
  padding: 10px 27px;
  border: none;
  outline: none;
  background-color: red;
  color: aliceblue;
  font-weight: 600;
  margin: 0 20px;
  border-radius: 3px;
  text-align: center;
}
.category-tabs{
  text-align: center;
  margin-top: 100px;
}
.category-tabs :hover{
  color: aquamarine;
}
h2.text-center.py-5{
  font-size: 60px;
  color: red;
}

@media only screen and (max-width: 760px) {
  .category-tabs{
    
    margin-top: 50px;
    max-width: fit-contents;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    gap: 1px;
  }
  .product-space{
    padding: 70px 5px;
    
  }
  .main-div{
    display: block;
    margin-bottom: 20px;
  
  
  }
  .content{
    padding-left: 15px;
  }
  .content p{
    font-size: 20px;
    padding: 10px 5px;
  }
  .title{
    display: block;
    align-items: center;
    padding: 10px 5px;
  }
  .main-img img{
    width: 240px;
    height: 170px;
    display: flex;
    align-content: space-between;
    
  }
  .content h4{
    font-size: 22px;
    text-transform: capitalize;
    
  
  }
  .content h6{
    color: red;
    font-size: 2rem;
  }
}